.add-item-icon {
  width: 4rem !important;
  height: 4rem !important;
}

.add-button {
  position: absolute !important;
  top: -20px !important;
  left: 80% !important;
}

.add-button:hover {
  outline: none;
}

@media screen and (max-width: 576px) {
  .dialog-form {
    width: 100% !important;
  }
}